.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.4s ease;
  background: no-repeat center center / cover;
  overflow: hidden;
}

.landing-header {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Backgrounds */
.landing-page.dark {
  background: url("../assets/landing-bg-dark.png") no-repeat center center/cover;
}

.landing-page.light {
  background: url("../assets/landing-bg-light.png") no-repeat center center/cover;
}

/* Theme toggle placement */
.theme-toggle-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Layout */
.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
  align-items: center;
  padding: 2rem;
}

/* Header text */
.title {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
}

/* Gradient for dark mode */
.title.dark {
  background: linear-gradient(90deg, #1677ff, #6dd5ed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Solid dark text for light mode */
.title.light {
  color: #111;
}

.button-container {
  margin-bottom: 2rem;
}
